<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="testngconceptclearly.ExtentReportManager"></listener>
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
  
      <class name="testngconceptclearly.Facebook_com"/>
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
